<div class="loginPage">
  <h1>Welcome to Hamoan</h1>

  <form>
    <p>Enter your login details</p>
    <div class="af-input">
      <input type="text" placeholder="Email">
    </div>
    <div class="af-input">
      <input type="password" placeholder="Password">
    </div>
    <div class="af-checkbox">
      <input type="checkbox"> Show Password
    </div>

    <div class="af-button">
      <ion-button expand="full" (click)="login()">Login</ion-button>
    </div>
  </form>

  <div class="signupText">
    <p>Don't have an account? <a href="javascript:;" routerLink="/signup">Sign up</a></p>
  </div>
</div>