<div class="loginPage">
  <h1>Signup</h1>

  <form>
    <p>Enter your details to signup</p>
    <div class="af-input">
      <input type="text" placeholder="Name">
    </div>
    <div class="af-input">
      <input type="text" placeholder="Email">
    </div>
    <div class="af-input">
      <input type="password" placeholder="Password">
    </div>
    <div class="af-checkbox">
      <input type="checkbox"> Show Password
    </div>

    <div class="af-button">
      <ion-button expand="full">Get Started</ion-button>
    </div>
  </form>

  <div class="signupText">
    <p>Already have an account? <a href="javascript:;" routerLink="/login">Login</a></p>
  </div>
</div>